/* Define cor principal personalizada */
[data-md-color-primary="custom"] {
  --md-primary-fg-color:        #8CA9A1;
  --md-primary-fg-color--light: #b7cddd;
  --md-primary-fg-color--dark:  #8CA9A1;
}

/* Define cor de destaque (accent) personalizada */
[data-md-color-accent="custom"] {
  --md-accent-fg-color:         #8CA9A1;
  --md-accent-fg-color--light:  #b7cddd;
  --md-accent-fg-color--dark:   #8CA9A1;
}
